input[type=text] {
  width: 50%;
  padding: 10px 10px;
  font-size: 15px;
}


input[type=submit]{
  background-color: #0080FF;;
  border: none;
  color: white;
  height: 40px;
  width: 100px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2px;
}

.clearButton {
  background-color:#ad3232;
  border: none;
  color: white;
  height: 40px;
  width: 200px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2px;
  margin-left: 40px;
}

.helpText {
  padding-left: 240px;
  color: grey;
}

ul {
  overflow: hidden;
}
li {
  list-style-type: none;
  cursor: pointer;
  line-height: 1.5;
  padding-bottom: 20px;
}

p {
    padding-left: 40px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #1a4699;
}

h2 {
    text-align: center;
    color: #00BFFF;
}

h3 {
  padding-left: 40px;
  font-weight: lighter;
  font-size: 30px;
  color: #00BFFF;
  color: #0080FF;
  text-decoration: underline;

}

img {
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

div {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
